.box{
    border: 1px solid rgb(129, 119, 119);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

#min{
    color:gray;
}
