
.current{
    display: flex;
    justify-content: space-between;
    /* font-family:Arial, Helvetica, sans-serif; */
}

.weather{
    display: flex;
}
.additional{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    color:#70757a;
}
.info{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    text-align: right;
}
#temp{
     margin-top: 15%; 
     font-size:x-large; 
}

#unit{
     margin-top: 15%; 
    /* font-size:x-large; */
    color:#70757a;
}

#city{
    /* font-size: large; */
}

#day{
    color:#70757a;
}
#description{
    color:#70757a;
}